* + table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em
}

* + table th {
  padding: .5em 1em .25em 1em;
  background-color: #ddd;
}

* + table td {
  padding: .25em 1em .25em 1em;
  border-bottom: 1px solid #eee;
}

* + table th[align="left"], * + table td[align="left"] {
  text-align:left;
}

* + table th[align="right"], * + table td[align="right"] {
  text-align:right;
}

* + table th[align="center"], * + table td[align="center"] {
  text-align:center;
}

